/* Estilos generales y reseteo de margenes y paddings */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0; 
}

/* Estilos generales y reseteo de margenes y paddings */
h1, h2 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  }

/* Estilos generales para el cuerpo del documento */
body {
  font-family: "Poppins", sans-serif;
  background-color: #2a2a2a;
  color: #fff;  
  font-size: 1.1rem;
  overflow-x: hidden;
  
  
}

/* Estilos para el menú de navegación mejorado */

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #343A40;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: #27AE60;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #27AE60;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #27AE60;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Estilos para la sección de fondo */
.background-section {
  background-image: url('imagenes/yo.png'); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño de la sección */
  background-position: center; /* Centra la imagen */
  width: 100%;
  /* Altura de la sección: Resta el tamaño del menú para cubrir la ventana */
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: white; /* Color de texto blanco */
}

.text-center {
  text-align: center; /* Alineación centrada para el texto */
}


/* Estilos para centrar contenido en la sección de introducción */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Estilos para la imagen flotante en la sección de introducción */
.image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-right: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.image img:hover {
  filter: grayscale(0);
}

/* ---- About Section ---- */

/* Estilos para centrar la sección "Sobre Mí" */
.about {
  padding: 80px 0;
  background-color: #343A40;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.section-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centrar verticalmente los elementos */
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

.about ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.about ul li:before {
  content: '\2022';
  position: absolute;
  left: 0;
  top: 2px;
  color: #27AE60;
}


/* ---- Projects Section ---- */

.projects {
  background-color: #f5f5f5;
  padding: 80px 0;
  text-align: center;
}

.containerProject {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #27AE60;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* Espacio entre los proyectos */
}

.col-md-4 {
  flex: 0 0 calc(33.33333% - 30px);
  max-width: calc(33.33333% - 30px);
  padding: 15px; /* Espacio entre los proyectos */
}

.project-item {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer; /* Añade el cursor de tipo puntero al contenedor */
}

.project-item:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.project-item img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 400px; /* Establece una altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarla */
  display: block;  
  transition: transform 0.3s, filter 0.3s, opacity 0.3s; /* Agrega transición de opacidad */
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 20px; /* Ajusta el tamaño de fuente para los títulos */
  margin: 10px 0; /* Ajusta el margen vertical de los títulos */
}

/* zoom */

.project-item .zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.project-item:hover .zoom-icon {
  display: block;
}

.zoomed-project {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0; /* Establece la opacidad inicial */
  transition: opacity 0.2s; /* Agrega transición de opacidad */
}

.zoomed-project img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  transform: scale(0.5); /* Establece la escala inicial */
  transition: transform 0.2s; /* Agrega transición de transformación */
}


/* ---- Contact Section ---- */

/* Estilos para la sección "Contacto" */
.contact {
  background-color: #343a40;
  margin-top: -50px;
  padding-top: 30px;
  padding: 20px 0;
  padding-bottom: 50px;
  --mask: 
    linear-gradient(to bottom, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) top/55.50px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.section-title {
   margin-top: 60px; /* Ajusta el margen superior para mover el título hacia abajo */
  /* Otros estilos para el título */
}

/* Estilos para el botón de descarga */
.download-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: #27AE60;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.download-button i {
  margin-right: 10px;
}

.download-button:hover {
  background-color: #218B49;
}


/* ---- Footer ---- */

/* Estilos para el pie de página */
.footer-container {
  padding: 10px 0;
  text-align: center;
  background-color: #1b1b1b;
}

/* ---- Buttons ---- */

/* Estilos para botones primarios */
.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #343a40;
  border-color: #2185d0;
}

/* ---- Cookie Banner ---- */

/* Estilos para el banner de cookies */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
  display: none;
}

.cookie-banner p {
  margin: 0;
  padding: 5px 0;
}

.cookie-banner .btn {
  margin-top: 10px;
}

/* ---- Links ---- */

.custom-link {
  color: #27AE60;
  text-decoration: none; /* Para eliminar el subrayado predeterminado en los enlaces */
}

.custom-link:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
}
